.font {
    font-family:
    "Roboto",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    sans-serif;
}
.chosakuken {
    font-weight:
    bold;
    float: left;
}

.GitHub {
    width: 100mm;
    height: 100mm;
}

img{
    margin-left: 1.7cm;
    width: 80px;
    height: 80px;
}

body{
    margin-left: 2cm;
}

button{
    width:100mm;
    height: 100mm;
}

body {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1 {
    font-size: 100px;
    font-weight: bolder;
}

h3 {
    top: 120px;
}

.kaihatsuchu{
    display: flex;
    font-weight: bold;
}
