.font {
    font-family:
    "Roboto",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    sans-serif;
}
.chosakuken {
    font-weight:
    bold;
    float: left;
    height: 15cm
}

.GitHub {
    width: 100mm;
    height: 100mm;
}

img{
    margin-left: 1.7cm;
    width: 80px;
    height: 80px;
}

button{
    width:100mm;
    height: 100mm;
}

body {
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );
    margin-left: 2cm;
}

h1 {
    font-size: 125px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align:center;
    margin:0 auto;
    margin-top: 3cm;
    border-bottom: 3px solid black
    ;
}

.next {
    display: flex; 
}

.answer {
    display: flex;
    margin-left: 15px;
}

.material-icons{
    line-height: 2; 
}

h3 {
    top: 120px;
    text-align:center;
    margin:0 auto;
    margin-bottom: 3cm;
    font-size: 30px;
}

.kaihatsuchu{
    display: flex;
    font-weight: bold;
}
.buttons{
    display:flex;
}

.nextbutton{
    margin-right: 100px;
}

li {
    display: flex;
    -webkit-box-align: center; 
    -moz-box-align: center;    
    -o-box-align: center;     
    -ms-box-align: center;     
    box-align: center;  
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin-top: 1px;
    border: 2px solid #cecccc;
    border-radius: 15mm;
}

.nextbutton{
    margin-left: 10cm;
}

.answerbutton{
    margin-left: 1cm;
}

.speakbutton{
    margin-left: 3cm;
}

input {
    background-color: transparent;
    border:2px solid black;
    width: 30cm;
    height: 15cm;
    display: inline-block;
    margin-bottom: 2mm;
    text-align:center;
    font-size: 1.5cm;
    margin-left: 2cm;

}

.blinking{
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;
    }
    @-webkit-keyframes blink{
        0% {opacity:0;}
        100% {opacity:1;}
    }
    @-moz-keyframes blink{
        0% {opacity:0;}
        100% {opacity:1;}
    }
    @keyframes blink{
        0% {opacity:0;}
        100% {opacity:1;}
    }

select{
        background-color: transparent;
}

.language {
    display: flex;
}


